@import url('../fonts/font-awesome/css/font-awesome.css');
@import "../fonts/glyphicons-pro/glyphicons-pro.css";
@import "../fonts/styles.css";

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.ttf');
}

body{
    font-family: "Lato";
}
.top{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}
.icon-3x{
    font-size: 2em;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 100px;
}
.menu-togel{
    position: fixed;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /*background: #825a2c;*/
    background: #C5AE89;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 12px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    /*padding: 50% 0 0 0 !important;*/
    list-style: none;
    padding: 0;

}

.sidebar-nav li {
    /*text-indent: 20px;*/
    line-height: 20px;
}
.sidebar-nav li a p{
    font-weight: bold;
    text-shadow: 2px 2px 4px #95a5a6;
}
.sidebar-nav li.active a p{
    color: #fff;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #6D675F;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.sidebar-nav li.active a{
    color: #FF503F;
}

.sidebar-nav li.active a span{
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    /*background: #87794e;*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav li.active{
    border-left:5px solid;
    border-color: #FF503F;
    color: #FF503F;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/*NAVBAR CONFIGURATION*/

.navbar{
    padding: 10px;
    background-color: #947863;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*NAVBAR RIGHT CONFIGURATION*/

.profile img{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    /*border: 0.01em solid #fff;*/
    -webkit-box-shadow: 2px 2px 15px #000;
    -moz-box-shadow: 2px 2px 15px #000;
    box-shadow: 2px 2px 15px #000;
}
ul.nav.pull-right li{
    display: inline-block;
}

ul.nav.pull-right li.logout a{
    color: #e74c3c;

}

ul.nav.pull-right li a span{
    color: #fff;
    /*font-weight: bold;*/
    font-size: 1.25em;
}
ul.nav.pull-right li a:hover{
    background: #947863;
}

div.navbar ul.nav.pull-right ul.dropdown-menu li a:hover{
    background: #fff;
}

div.navbar ul.nav.pull-right li.profile a:focus{
    background: #947863;
}
.dropdown-menu{
    min-width: 0;
}
.inner-wrapper{
    margin-left:60px;
    height: auto;
    width: auto;
}
.inner-wrapper hr{
    width: 800px;
    text-align: left;
    border-color: #947863;
    float: left;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100px;
        /*font-size: 3em;*/
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    div#page-content-wrapper div.navbar img.logo{
        height: 68px;
        width: 238px;
    }
}

@media screen and (max-width: 768px){
    ul.nav.pull-right li.profile a span{
        display: none;
    }
    div#page-content-wrapper div.navbar img.logo{
        height: 50px;
        width: 220px;
    }
}